.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  padding: 2rem;
  position: relative;
  transition: right 0.75s ease-in-out;
  transform: translate3d(0, 0, 0);
  right: 0;
  width: 100%;

  &:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 0.5s, z-index 0s;
    transition-delay: 0s, 0.5s;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &.sidebarActive {
    pointer-events: none;
    right: 50%;

    &:after {
      opacity: 1;
      transition-delay: 0s, 0s;
      z-index: 2;
    }

    @media (max-width: 768px) {
      right: 75%;
    }

    @media (max-width: 500px) {
      right: 100%;
    }
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
  }
}

.buildings {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  li {
    margin: 0;
    margin-right: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;
    padding: 0;
    width: calc(33.33% - 3rem);

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    @media (max-width: 1075px) {
      width: calc(50% - 1rem);

      &:nth-of-type(3n) {
        margin-right: 2rem;
      }

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @media (max-width: 650px) {
      margin-right: 0;
      width: 100%;
    }

    .copyBlock {
      background: #fff;
      padding: 1rem;
      position: relative;
      left: 1rem;
      top: -2rem;
      width: calc(100% - 2rem);
      z-index: 2;
    }

    h2 {
      font-size: 2rem;
      font-weight: 100;
      margin-top: 0;
      text-transform: uppercase;
      text-align: center;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    p {
      display: flex;
      justify-content: space-between;
    }

    img {
      width: 100%;
    }

    button {
      background: #000;
      border: 1px transparent solid;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 1.25rem;
      font-weight: 100;
      left: -1rem;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      position: relative;
      top: 1rem;
      text-align: center;
      text-transform: uppercase;
      width: calc(100% + 2rem);
    }
  }
}

.sidebar {
  background: #000;
  color: #fff;
  height: 100%;
  position: fixed;
  right: -50%;
  top: 0;
  transition: right 0.75s ease-in-out;
  transform: translate3d(0, 0, 0);
  width: 50%;
  z-index: 2;

  @media (max-width: 768px) {
    right: -75%;
    width: 75%;
  }

  @media (max-width: 500px) {
    right: -100%;
    width: 100%;
  }

  &.active {
    right: 0;
  }

  button {
    background: #000;
    border: 1px transparent solid;
    border-radius: 50%;
    cursor: pointer;
    height: 2.25rem;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    width: 2.25rem;
    z-index: 3;

    &:after,
    &:before {
      background: #fff;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      right: 0.45rem;
      transform: rotate(45deg);
      top: 0.95rem;
      width: 1.25rem;
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  #sidebarContainer {
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;

    img {
      height: 33.33%;
      object-fit: contain;
      width: 100%;
    }

    .copyBlock {
      // bottom: 0;
      // margin-top: 56%;
      // position: absolute;
      // overflow-y: scroll;
      // overflow-x: hidden;
      padding: 1rem;
      top: 0;

      h2 {
        font-size: 3rem;
        font-weight: 100;
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: center;
      }

      .meta {
        border-bottom: 1px #fff solid;
        display: flex;
        font-size: 0.75rem;
        justify-content: space-between;
        padding: 0.75rem 0rem;
        margin-bottom: 0;
        margin-top: 0;

        &:first-of-type {
          border-top: 1px #fff solid;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }

      .description {
        font-size: 1.25rem;
        margin: 2rem 0;
      }

      .table {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .row {
          align-items: center;
          border-bottom: 1px #fff solid;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: 0.75rem;
          font-weight: 100;
          padding: 0.75rem 0rem;
          padding-right: 1rem;
          width: 100%;

          &.header {
            font-size: 1rem;
            text-transform: uppercase;
          }

          & > div {
            padding-right: 1rem;
            width: 25%;
          }

          & > div:nth-of-type(3) {
            padding-right: 0;
            width: 50%;
          }

          &:first-of-type {
            border-top: 1px #fff solid;
          }

          &:last-of-type {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
